<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ site.google_analytics }}');</script>
<!-- End Google Tag Manager -->

<script>
  // Initialize dataLayer for custom events
  window.dataLayer = window.dataLayer || [];
  
  // Push page data to dataLayer
  dataLayer.push({
    'page_title': '{{ page.title | default: site.title | escape }}',
    'page_location': '{{ site.url }}{{ page.url }}',
    'page_category': '{{ page.categories | first | default: "uncategorized" }}',
    'content_group1': '{{ page.categories | first | default: "uncategorized" }}',
    'post_author': '{{ page.author | default: site.author | escape }}',
    'post_date': '{{ page.date | date: "%Y-%m-%d" }}',
    'site_name': '{{ site.title | escape }}'
  });

  // Track outbound links
  document.addEventListener('click', function(event) {
    if (event.target.tagName === 'A') {
      var url = event.target.href;
      if (url && url.indexOf(location.hostname) === -1) {
        dataLayer.push({
          'event': 'outbound_click',
          'link_url': url,
          'link_domain': url.split('/')[2]
        });
      }
    }
  });

  // Track scroll depth
  var scrollDepth = 0;
  var maxScroll = 0;
  
  window.addEventListener('scroll', function() {
    var currentScroll = Math.round((window.scrollY / (document.body.scrollHeight - window.innerHeight)) * 100);
    
    if (currentScroll > maxScroll) {
      maxScroll = currentScroll;
      
      // Track at 25%, 50%, 75%, 100%
      if (maxScroll >= 25 && scrollDepth < 25) {
        scrollDepth = 25;
        dataLayer.push({
          'event': 'scroll_depth',
          'scroll_percentage': 25
        });
      } else if (maxScroll >= 50 && scrollDepth < 50) {
        scrollDepth = 50;
        dataLayer.push({
          'event': 'scroll_depth',
          'scroll_percentage': 50
        });
      } else if (maxScroll >= 75 && scrollDepth < 75) {
        scrollDepth = 75;
        dataLayer.push({
          'event': 'scroll_depth',
          'scroll_percentage': 75
        });
      } else if (maxScroll >= 100 && scrollDepth < 100) {
        scrollDepth = 100;
        dataLayer.push({
          'event': 'scroll_depth',
          'scroll_percentage': 100
        });
      }
    }
  });

  // Track file downloads
  document.addEventListener('click', function(event) {
    if (event.target.tagName === 'A') {
      var url = event.target.href;
      var fileExtensions = /\.(pdf|doc|docx|xls|xlsx|ppt|pptx|zip|rar|tar|gz)$/i;
      if (url && fileExtensions.test(url)) {
        var fileName = url.split('/').pop();
        dataLayer.push({
          'event': 'file_download',
          'file_name': fileName,
          'file_url': url
        });
      }
    }
  });
</script>